<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <servlet>
        <servlet-name>InsertarDatosCorreo</servlet-name>
        <servlet-class>Servelet.InsertarDatosCorreo</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>eliminarCorreo</servlet-name>
        <servlet-class>Servelet.eliminarCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCorreo</servlet-name>
        <servlet-class>Servelet.ModificarCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUserTabla</servlet-name>
        <servlet-class>Servelet.EliminarUserTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDAO</servlet-name>
        <servlet-class>DAO.UsuarioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarUsuario</servlet-name>
        <servlet-class>Servelet.InsertarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntrarBienvenido</servlet-name>
        <servlet-class>Servelet.EntrarBienvenido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertarDatosCorreo</servlet-name>
        <url-pattern>/InsertarDatosCorreo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>eliminarCorreo</servlet-name>
        <url-pattern>/eliminarCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCorreo</servlet-name>
        <url-pattern>/ModificarCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUserTabla</servlet-name>
        <url-pattern>/EliminarUserTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDAO</servlet-name>
        <url-pattern>/UsuarioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarUsuario</servlet-name>
        <url-pattern>/InsertarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntrarBienvenido</servlet-name>
        <url-pattern>/EntrarBienvenido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
