<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
  <javaee:display-name>Elian</javaee:display-name>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>procesar</javaee:display-name>
    <servlet-name>procesar</servlet-name>
    <servlet-class>
		servlets.procesar</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>closeSesion</javaee:display-name>
    <servlet-name>closeSesion</servlet-name>
    <servlet-class>
		servlets.closeSesion</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>adicionarOficial</javaee:display-name>
    <servlet-name>adicionarOficial</servlet-name>
    <servlet-class>
		servlets.adicionarOficial</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>adicionarArma</javaee:display-name>
    <servlet-name>adicionarArma</servlet-name>
    <servlet-class>
		servlets.adicionarArma</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>entregarArmas</javaee:display-name>
    <servlet-name>entregarArmas</servlet-name>
    <servlet-class>
		servlets.entregarArmas</servlet-class>
  </servlet>
  <servlet>
    <javaee:description>
		</javaee:description>
    <javaee:display-name>actualizar</javaee:display-name>
    <servlet-name>actualizar</servlet-name>
    <servlet-class>
		servlets.actualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>procesar</servlet-name>
    <url-pattern>/procesar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>closeSesion</servlet-name>
    <url-pattern>/closeSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adicionarOficial</servlet-name>
    <url-pattern>/adicionarOficial</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adicionarArma</servlet-name>
    <url-pattern>/adicionarArma</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>entregarArmas</servlet-name>
    <url-pattern>/entregarArmas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>actualizar</servlet-name>
    <url-pattern>/actualizar</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>cambiar_contraseña</javaee:display-name>
    <servlet-name>cambiar_contraseña</servlet-name>
    <servlet-class>servlets.cambiar_contraseña</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cambiar_contraseña</servlet-name>
    <url-pattern>/cambiar_contraseña</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>cambiarPass</javaee:display-name>
    <servlet-name>cambiarPass</servlet-name>
    <servlet-class>servlets.cambiarPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cambiarPass</servlet-name>
    <url-pattern>/cambiarPass</url-pattern>
  </servlet-mapping>
</web-app>