<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Tienda</display-name>
	<servlet>
		<description>
		</description>
		<display-name>pepe</display-name>
		<servlet-name>pepe</servlet-name>
		<servlet-class>
		servelets.insertarCarro</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>pepe1</display-name>
		<servlet-name>pepe1</servlet-name>
		<servlet-class>
		servelets.insertarCliente</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>pepe2</display-name>
		<servlet-name>pepe2</servlet-name>
		<servlet-class>
		servelets.insertarVendedor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>pepe3</display-name>
		<servlet-name>pepe3</servlet-name>
		<servlet-class>
		servelets.insertarVenta</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>pepe4</display-name>
		<servlet-name>pepe4</servlet-name>
		<servlet-class>
		servelets.eliminarVendedor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>pepe5</display-name>
		<servlet-name>pepe5</servlet-name>
		<servlet-class>
		servelets.modificarCostoCarro</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pepe</servlet-name>
		<url-pattern>/insertarCarro</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pepe1</servlet-name>
		<url-pattern>/insertarCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pepe2</servlet-name>
		<url-pattern>/insertarVendedor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pepe3</servlet-name>
		<url-pattern>/insertarVenta</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pepe4</servlet-name>
		<url-pattern>/eliminarVendedor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pepe5</servlet-name>
		<url-pattern>/modificarCostoCarro</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
	<welcome-file>index.htm</welcome-file>
		
		
		
	</welcome-file-list>
</web-app>
